{
    "serveraddr":"127.0.0.1:9080",
    "servernet":"ws",

    "redisaddr":"127.0.0.1:6379",
    "redispwd":"",
    "redisdefaultdb":2,
    "redismaxconn": 10,

    "mysqladdr":"127.0.0.1:3306",
    "mysqluserpwd":"root:ztgame@123",
    "mysqldb":"gtchat",
    "mysqltableprefix":"gtchat_",
    "mysqllogmode":true,
    "mysqlmaxconn":10,

    "verifyaddr":{
        "default":"http://127.0.0.1:9091/verify"
    },

    "defaultgroupname":"MyFriend"
}